html(lang="es")
  head
    title Pedidos de Usuarios
  body
    h1 Pedidos de Usuarios

    table
      thead
        tr
          th Cliente
          th Correo Electrónico
          th Dirección
          th Productos
          th Estado
          th Precio Total
      tbody
        each order in orders
          tr
            td= order.customer.name
            td= order.customer.email
            td= order.address
            td
              ul
                each product in order.products
                  li #{product.id.name} - Cantidad: #{product.quantity}
            td= order.status
            td= "$" + order.total_price
