doctype html
html(lang="es")
  head
    title Lista de Pedidos
  body
    h1 Lista de Pedidos
    table(border="1")
      tr
        th Producto
        th Cliente
        th Dirección
        th Total
      each order in orders
        tr
          td= order.product_name
          td= order.costumer
          td= order.address
          td= order.total
    a(href=`/admin/dashboard?token=${token}`)  Volver al Panel
