html(lang="es")
  head
    title Productos Disponibles
    script(src="/js/admin.js")
  body
    h1 Productos Disponibles

    //- Formulario para crear un nuevo producto
    form(action='/admin/products', method='POST')
      label(for='product_name') Nombre del Producto:
      input(type='text', name='product_name', id='product_name', required)
      
      label(for='product_price') Precio:
      input(type='number', name='product_price', id='product_price', required)
      
      input(type="hidden", name="token", value=token)
      button(type='submit') Crear Producto

    //- Tabla de productos disponibles
    table
      thead
        tr
          th Producto
          th Precio
          th Acciones
      tbody
        each product in products
          tr
            td= product.product_name
            td= "$ " + product.product_price
            td
              //- Formulario para actualizar el producto
              form(action=`/admin/products/${product._id}?token=${token}&_method=PATCH`, method='POST')
                label(for='product_name') Nombre:
                input(type='text', name='product_name', id='product_name', value=product.product_name, required)
                
                label(for='product_price') Precio:
                input(type='number', name='product_price', id='product_price', value=product.product_price, required)
                
                input(type="hidden", name="token", value=token)
                button(type='submit') Actualizar

              //- Formulario para eliminar el producto
              form(action=`/admin/products/${product._id}?token=${token}&_method=DELETE`, method='POST', style="display:inline")
                input(type="hidden", name="token", value=token)
                button(type='submit') Eliminar




