html(lang="es")
  head
    title Productos Disponibles
    script(src="/js/admin.js")
  body
    h1 Productos Disponibles

    a(href=`/admin/products/create_form?token=${token}`) Nuevo producto


    //- Tabla de productos disponibles
    table
      thead
        tr
          th Producto
          th Precio
          th Acciones
      tbody
        each product in products
          tr
            td= product.product_name
            td= "$ " + product.product_price
            td
              a(href=`/admin/products/${product._id}/edit_form?token=${token}`) Actualizar
              
              //- Formulario para eliminar el producto
              form(action=`/admin/products/${product._id}?token=${token}&_method=DELETE`, method='POST', style="display:inline")
                input(type="hidden", name="token", value=token)
                button(type='submit') Eliminar
    a(href=`/admin/dashboard?token=${token}`)  Volver al Panel



